/.idea
/cmake-build-debug
text.txt
/benchmarks/scratch/
/benchmarks/dacapo-9.12-bach.jar
/benchmarks/java.hprof.txt
*.TMP
*.class
/benchmarks/Class Tests/.idea/
*.iml
/benchmarks/CorrectImplementationTest/.idea/
/benchmarks/CorrectImplementationTest/venv/
